@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Colors */
  --brand-white-100: #ffffff;
  --brand-white-200: #e7e7e7;
  --brand-white-300: #e4e4e4;

  --brand-dark-500: #222222;
  --brand-dark-400: #4f4f4f;
  --brand-dark-300: #606060;
  --brand-dark-200: #939393;

  --brand-pink-500: #ff7797;
  --brand-pink-400: #fe86a2;
  --brand-pink-300: #ff9bb3;
  --brand-pink-200: #fdb1c3;
  --brand-pink-150: #ffc2d1;
  --brand-pink-100: #ffe1e8;
  --brand-pink-50: #fff1f4;

  --brand-blue-500: #97bdf5;
  --brand-blue-400: #b9d5ff;

  --brand-yellow-500: #fff4d2;
}

@theme inline {
  /* Following Shadcn */
  --color-background: var(--brand-white-100);
  --color-foreground: var(--brand-dark-500);
  --color-primary: var(--brand-pink-500);
  --color-primary-foreground: var(--brand-white);
  --color-secondary: var(--brand-blue-500);
  --color-secondary-foreground: var(--brand-white);
  --color-tertiary: var(--brand-yellow-500);

  /* Customs */
  --radius-5xl: 2.5rem;

  --background-image-brand-gradient-primary: linear-gradient(
    146.14deg,
    var(--brand-pink-400) 8.01%,
    var(--brand-pink-200) 56.57%,
    var(--brand-pink-300) 74.39%,
    var(--brand-pink-500) 100.68%
  );

  --background-image-brand-gradient-primary-hover: linear-gradient(
    146.14deg,
    var(--brand-pink-500) 0%,
    var(--brand-pink-500) 100%
  );

  --background-image-brand-gradient-secondary: linear-gradient(
    146.14deg,
    var(--brand-blue-500) 8.01%,
    var(--brand-blue-400) 56.57%,
    var(--brand-blue-400) 74.39%,
    var(--brand-blue-500) 100.68%
  );

  --background-image-brand-gradient-secondary-hover: linear-gradient(
    146.14deg,
    var(--brand-blue-500) 0%,
    var(--brand-blue-500) 100%
  );

  --shadow-button-primary: inset 12px 12px 24px 0px #ffffff70,
    inset -12px -12px 24px 0px #ff779738, 12px 12px 24px 0px #ff779738,
    -12px -12px 24px 0px #ffffff38;

  --shadow-button-secondary: inset 12px 12px 24px 0px #ffffff70,
    inset -12px -12px 24px 0px #97bdf538, 12px 12px 24px 0px #97bdf538,
    -12px -12px 24px 0px #ffffff38;

  --color-brand-white-100: var(--brand-white-100);
  --color-brand-white-200: var(--brand-white-200);
  --color-brand-white-300: var(--brand-white-300);

  --color-brand-dark-500: var(--brand-dark-500);
  --color-brand-dark-400: var(--brand-dark-400);
  --color-brand-dark-300: var(--brand-dark-300);
  --color-brand-dark-200: var(--brand-dark-200);

  --color-brand-primary-500: var(--brand-pink-500);
  --color-brand-primary-400: var(--brand-pink-400);
  --color-brand-primary-300: var(--brand-pink-300);
  --color-brand-primary-200: var(--brand-pink-200);
  --color-brand-primary-100: var(--brand-pink-100);
  --color-brand-primary-150: var(--brand-pink-150);
  --color-brand-primary-50: var(--brand-pink-50);

  --color-brand-secondary-500: var(--brand-blue-500);
  --color-brand-secondary-400: var(--brand-blue-400);

  --color-brand-tertiary-500: var(--brand-yellow-500);

  --font-chillax: var(--font-chillax);
  --font-jakarta-sans: var(--font-jakarta-sans);
  --font-cherry-bomb: var(--font-cherry-bomb);

  --shadow-brand-glass: 12px 12px 24px 0px #ff779738,
    -12px -12px 24px 0px #ffffff38;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply hover:cursor-pointer;
  }
}
